<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nosotros</title>
    <link rel="stylesheet" href="style.css">
    <!-- Agrega enlaces a tus scripts JS si los necesitas -->
    <script src="script.js" defer></script>
    <script src="handles/slide.js"></script>
</head>
<body>
    <header>
        <h1>Galería de Arte Metropolitano</h1>
        <!-- Barra de navegación -->
        <nav class="navbar">
            <ul>
                <li><a href="inicio.hbs">Inicio</a></li>
                <li><a href="about.hbs">Nosotros</a></li>
                <li><a href="blog.hbs">Blog</a></li>
                <li><a href="contactenos.hbs">Contactenos</a></li>
                <li><a href="donaciones.hbs">Donaciones</a></li>
                <li><a href="eventos.hbs">Eventos</a></li>
                <li><a href="galeria.hbs">Galeria</a></li>
                <li><a href="programas.hbs">Programas</a></li>
                <li><a href="faq.hbs">FaQ</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="hero">
            <h2>Sobre nosotros</h2>
            <p>Somos el Museo Metropolitano, un lugar dedicado a la preservación y exhibición del arte.</p>
            <h3>Misión:</h3>
            <p>Nuestra misión es acercar el arte a la comunidad y promover la apreciación cultural mediante exposiciones, eventos educativos y programas de difusión cultural.</p>
            <h3>Visión:</h3>
            <p>Buscamos ser un referente internacional en la promoción y conservación del arte, inspirando a las generaciones presentes y futuras a través de experiencias artísticas significativas.</p>
            <p>El museo fue fundado en [año de fundación] y desde entonces hemos mostrado obras de renombrados artistas y colecciones únicas.</p>
            <p>Nuestro equipo está conformado por apasionados del arte comprometidos con brindar una experiencia enriquecedora a nuestros visitantes.</p>
        </div>
    </main>
    
    <footer>
        <p>Derechos de autor © 2023 Galería de Arte. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
