<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nosotros</title>
        <!-- Estilos compilados con less-->
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <script src="handles/slide.js"></script>
</head>
<body>
    <header>
        <h1>Galería de Arte Metropolitano</h1>
        <!-- Barra de navegación -->
        <nav class="navbar">
            <ul>
                <li><a href="inicio.hbs">Inicio</a></li>
                <li><a href="about.hbs">Nosotros</a></li>
                <li><a href="blog.hbs">Blog</a></li>
                <li><a href="contactenos.hbs">Contactenos</a></li>
                <li><a href="donaciones.hbs">Donaciones</a></li>
                <li><a href="eventos.hbs">Eventos</a></li>
                <li><a href="galeria.hbs">Galeria</a></li>
                <li><a href="programas.hbs">Programas</a></li>
                <li><a href="faq.hbs">FaQ</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="hero">
            <h2>Sobre nosotros</h2>
            <p>Somos el Museo Metropolitano, un lugar dedicado a la preservación y exhibición del arte.</p>
            <h3>Misión:</h3>
            <p>Nuestra misión es acercar el arte a la comunidad y promover la apreciación cultural mediante exposiciones, eventos educativos y programas de difusión cultural.</p>
            <h3>Visión:</h3>
            <p>Buscamos ser un referente internacional en la promoción y conservación del arte, inspirando a las generaciones presentes y futuras a través de experiencias artísticas significativas.</p>
            <p>El museo fue fundado en 1885 y desde entonces hemos mostrado obras de renombrados artistas y colecciones únicas.</p>
            <p>Nuestro equipo está conformado por apasionados del arte comprometidos con brindar una experiencia enriquecedora a nuestros visitantes.</p>
            <h4>Nuestra historia</h4>
            <p>La Galería de Arte Metropolitano tiene sus raíces en la pasión compartida por el arte y la cultura de un grupo de visionarios del siglo XIX. Fundado en 1885 por un grupo de coleccionistas entusiastas y mecenas del arte local, el museo comenzó como un modesto espacio de exhibición para obras de artistas emergentes de la región.
                Con el tiempo, la dedicación de generosos donantes y el compromiso con la preservación del legado artístico permitieron que el museo se expandiera, convirtiéndose en un epicentro cultural de renombre internacional.
                A lo largo de los años, hemos albergado exposiciones icónicas que han celebrado desde los maestros clásicos hasta los movimientos artísticos más revolucionarios del siglo XX. Nuestra misión ha sido siempre la misma: preservar la belleza del arte, educar y entretener a generaciones, y ser un faro de creatividad y conocimiento en nuestra comunidad.
                Hoy en día, el Museo Metropolitano se erige como un símbolo de aprecio por la diversidad artística y la creatividad humana, un lugar donde las barreras del tiempo y el espacio se desvanecen para dar paso a la admiración y el entendimiento a través del arte.
                Únete a nosotros en este viaje a través de la historia del arte, donde cada obra cuenta una historia y cada visita es un encuentro con la inspiración y la grandeza creativa.</p>
        </div>
    </main>
    
    <footer>
        <p>Derechos de autor © 2023 Galería de Arte. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
