<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva adquisicion para el museo</title>
        <!-- Estilos compilados con less-->
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <script src="handles/slide.js"></script>
</head>
<body>
    <header>
        <h1>Galería de Arte Metropolitano</h1>
        <!-- Barra de navegación -->
        <nav class="navbar">
            <ul>
                <li><a href="inicio.hbs">Inicio</a></li>
                <li><a href="about.hbs">Nosotros</a></li>
                <li><a href="blog.hbs">Blog</a></li>
                <li><a href="contactenos.hbs">Contactenos</a></li>
                <li><a href="donaciones.hbs">Donaciones</a></li>
                <li><a href="eventos.hbs">Eventos</a></li>
                <li><a href="galeria.hbs">Galeria</a></li>
                <li><a href="programas.hbs">Programas</a></li>
                <li><a href="faq.hbs">FaQ</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="blog-posts">
            <article class="blog-post">
                <h2>El museo Metropolitano consigue nueva pieza de exhibicion</h2>
                <p class="date">Fecha: 5 de diciembre de 2023</p>
                <p>Es con gran emoción que anunciamos la adquisición de una obra maestra emblemática del Renacimiento: "La Escuela de Atenas", pintada por el célebre artista italiano Rafael.
                    Esta adquisición marca un hito significativo en la historia del Museo Metropolitano y enriquece nuestra colección con una de las piezas más destacadas del arte occidental.</p>
                <h3>Sobre "La Escuela de Atenas"</h3>
                <p>"La Escuela de Atenas" es un fresco que representa una reunión imaginaria de grandes filósofos, matemáticos y pensadores clásicos griegos. Pintada entre 1509 y 1511, esta obra maestra encarna la esencia misma del Renacimiento y simboliza el ideal de sabiduría y conocimiento del mundo antiguo.
                Rafael capturó magistralmente a los filósofos, incluidos Platón y Aristóteles, en un majestuoso escenario arquitectónico que mezcla la precisión matemática y la gracia clásica. Cada figura, con gestos y expresiones únicas, personifica las ideas y el legado intelectual que han perdurado a lo largo de los siglos.</p>
                <h4>Importancia de la Obra</h4>
                <p>"La Escuela de Atenas" es considerada una de las obras más importantes del arte occidental. Representa el pensamiento humanista del Renacimiento y destaca la importancia del conocimiento y la exploración intelectual. Esta obra maestra ha sido un ícono de inspiración para generaciones de artistas, intelectuales y amantes del arte en todo el mundo.</p>   
                <h5>Un Nuevo Capítulo en Nuestra Colección</h5>       
                <p>La inclusión de "La Escuela de Atenas" en nuestra colección representa un compromiso continuo con la preservación y difusión del patrimonio artístico mundial. Esta adquisición es un regalo para la comunidad, un legado para las generaciones futuras y un testimonio de nuestro compromiso con el arte y la educación.
                    La obra estará disponible para la admiración y el estudio de nuestros visitantes a partir del próximo mes, marcando el inicio de una nueva era en la historia del Museo Metropolitano.</p>  

                    <img src="https://academiaplay.es/wp-content/uploads/2018/02/web-atenas.jpg" alt="academiadeplaton">
            </article>

        </div>
    </main>
    
    <footer>
        <p>Derechos de autor © 2023 Galería de Arte. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
