<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remodelaciones proximas</title>
        <!-- Estilos compilados con less-->
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <script src="handles/slide.js"></script>
</head>
<body>
    <header>
        <h1>Galería de Arte Metropolitano</h1>
        <!-- Barra de navegación -->
        <nav class="navbar">
            <ul>
                <li><a href="inicio.hbs">Inicio</a></li>
                <li><a href="about.hbs">Nosotros</a></li>
                <li><a href="blog.hbs">Blog</a></li>
                <li><a href="contactenos.hbs">Contactenos</a></li>
                <li><a href="donaciones.hbs">Donaciones</a></li>
                <li><a href="eventos.hbs">Eventos</a></li>
                <li><a href="galeria.hbs">Galeria</a></li>
                <li><a href="programas.hbs">Programas</a></li>
                <li><a href="faq.hbs">FaQ</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="blog-posts">
            <article class="blog-post">
                <h2>Remodelación del Ala B del Primer Piso</h2>
                <p class="date">Fecha: 5 de diciembre de 2023</p>
                <p>Queridos visitantes. Les informamos con anticipación que a partir del 6 de diciembre, el ala B del primer piso del Museo Metropolitano estará cerrada temporalmente debido a labores de remodelación y mejoras en nuestras instalaciones.
                    Esta remodelación tiene como objetivo ofrecerles una experiencia aún más enriquecedora y moderna durante su visita al museo. Estamos comprometidos en mejorar nuestros espacios para brindarles una exposición aún más cautivadora y acogedora en el futuro.
                    Durante este período, el resto del museo permanecerá abierto y operativo, con una amplia variedad de exposiciones y obras de arte que podrán seguir disfrutando.
                    Agradecemos su comprensión y paciencia mientras llevamos a cabo estas mejoras. Estamos entusiasmados de poder presentarles una ala renovada que enriquecerá su experiencia artística.
                    Estén atentos a futuras actualizaciones sobre la reapertura del ala B y las nuevas exposiciones que llegarán pronto.
                    Gracias por su continuo apoyo y por ser parte de la comunidad artística del Museo Metropolitano.</p>

                    <img src="https://images.adsttc.com/media/images/53ac/bde3/c07a/8021/be00/0019/newsletter/PORTADA.jpg?1403829702" alt="remodelacion">
            </article>

        </div>
    </main>
    
    <footer>
        <p>Derechos de autor © 2023 Galería de Arte. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
