<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="style.css">
    <!-- Agrega enlaces a tus scripts JS si los necesitas -->
    <script src="script.js" defer></script>
    <script src="handles/slide.js"></script>
</head>
<body>
    <header>
        <h1>Galería de Arte Metropolitano</h1>
        <!-- Barra de navegación -->
        <nav class="navbar">
            <ul>
                <li><a href="inicio.hbs">Inicio</a></li>
                <li><a href="about.hbs">Nosotros</a></li>
                <li><a href="blog.hbs">Blog</a></li>
                <li><a href="contactenos.hbs">Contactenos</a></li>
                <li><a href="donaciones.hbs">Donaciones</a></li>
                <li><a href="eventos.hbs">Eventos</a></li>
                <li><a href="galeria.hbs">Galeria</a></li>
                <li><a href="programas.hbs">Programas</a></li>
                <li><a href="faq.hbs">FaQ</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="blog-posts">
            <article class="blog-post">
                <h2>El museo Metropolitano consigue nueva pieza de exhibicion</h2>
                <p class="date">Fecha: 5 de diciembre de 2023</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio a sapien convallis, sit amet bibendum nisi tincidunt...</p>
                <a href="articulo1.hbs">Leer más</a>
            </article>

            <article class="blog-post">
                <h2>Se acercan remodelaciones </h2>
                <p class="date">Fecha: 2 de diciembre de 2023</p>
                <p>Nulla facilisi. Integer vitae lectus id purus condimentum eleifend. Etiam porta neque in lorem interdum...</p>
                <a href="articulo2.hbs">Leer más</a>
            </article>

            <!-- Puedes añadir más artículos aquí -->
        </div>
    </main>
    
    <footer>
        <p>Derechos de autor © 2023 Galería de Arte. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
