<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
    <!-- Estilos compilados con less-->
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <script src="handles/slide.js"></script>
</head>
<body>
    <header>
        <h1>Galería de Arte Metropolitano</h1>
        <!-- Barra de navegación -->
        <nav class="navbar">
            <ul>
                <li><a href="inicio.hbs">Inicio</a></li>
                <li><a href="about.hbs">Nosotros</a></li>
                <li><a href="blog.hbs">Blog</a></li>
                <li><a href="contactenos.hbs">Contactenos</a></li>
                <li><a href="donaciones.hbs">Donaciones</a></li>
                <li><a href="eventos.hbs">Eventos</a></li>
                <li><a href="galeria.hbs">Galeria</a></li>
                <li><a href="programas.hbs">Programas</a></li>
                <li><a href="faq.hbs">FaQ</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="event-info">
            <h2>Eventos</h2>
            <p>Descubre los emocionantes eventos que están por venir en el Museo Metropolitano.</p>
            
            <div class="event-list">
                 <h2>__________________________________________________________</h2>
                <h3>Próximos eventos:</h3>
                <ul>
                    <li>
                        <h4>Conferencia de arte moderno</h4>
                        <p>Fecha: 15 de enero de 2024</p>
                        <p>Descripción: Únete a nuestra conferencia sobre el impacto del arte moderno en la sociedad actual, impartido por la antropologa Elsa Rodriduez. Se llevara a cabo en el ala B del primer piso a las 02:00pm.</p>
                    </li>
                    <li>
                        <h4>Exhibición de artistas locales</h4>
                        <p>Fecha: 28 de febrero de 2024</p>
                        <p>Descripción: Disfruta de la obra de talentosos artistas locales en nuestra exhibición especial a partir del 28 de febrero en el ala B del primer piso.</p>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    
    <footer>
        <p>Derechos de autor © 2023 Galería de Arte. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
