<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaQ</title>
    <link rel="stylesheet" href="style.css">
    <!-- Agrega enlaces a tus scripts JS si los necesitas -->
    <script src="script.js" defer></script>
    <script src="handles/slide.js"></script>
</head>
<body>
    <header>
        <h1>Galería de Arte Metropolitano</h1>
        <!-- Barra de navegación -->
        <nav class="navbar">
            <ul>
                <li><a href="inicio.hbs">Inicio</a></li>
                <li><a href="about.hbs">Nosotros</a></li>
                <li><a href="blog.hbs">Blog</a></li>
                <li><a href="contactenos.hbs">Contactenos</a></li>
                <li><a href="donaciones.hbs">Donaciones</a></li>
                <li><a href="eventos.hbs">Eventos</a></li>
                <li><a href="galeria.hbs">Galeria</a></li>
                <li><a href="programas.hbs">Programas</a></li>
                <li><a href="faq.hbs">FaQ</a></li>
                
            </ul>
        </nav>
    </header>
    <main>
        <div class="hero">
            <h2>Coleccion de arte del Museo Metropolitano</h2>
            <h3>Descubre invaluables obras artisticas de la humanidad de tiempos antiguos y modernos</h3>
        </div>
        <section class="slideshow">
            <img src="https://mymodernmet.com/wp/wp-content/uploads/2017/10/what-is-modern-art-definition-2.jpg" alt="Imagen 1">
            <img src="https://crehana-blog.imgix.net/media/filer_public/ee/70/ee707f88-2138-4457-bbac-836f9cd6b62f/3_artmajeur.jpg?auto=format&q=50" alt="Imagen 2">
            <img src="https://www.capitaldelarte.com/wp-content/uploads/2017/10/Caballito-de-Troya-1.png" alt="Imagen 2">
            <img src="https://cdn0.unprofesor.com/es/posts/9/3/9/tipos_de_arte_moderno_5939_orig.jpg" alt="Imagen 2">
        </section>

        <div class="hero">
            <h2>__________________________________________________________</h2>
        </div>

        <div class="enlaces">
            <a href="about.html">
                <img src="https://img.freepik.com/fotos-premium/arte-moderno-abstracto-estilo-picasso-cara-mujer-humana-arte-imprimible_688547-3813.jpg?w=2000" alt="Imagen 1">
            </a>
            <div class="miniaturas">
                <a href="blog.html">
                    <img src="https://cdn.culturagenial.com/es/imagenes/la-persistencia-de-la-memoria-salvador-dali.jpg" alt="">
                </a>
                <a href="contactenos.html">
                    <img src="https://danirojas04.files.wordpress.com/2013/11/arte-moderno-romero-brito-4.jpg" alt="imagen3">
                </a>
                <a href="donaciones.html">
                    <img src="https://previews.123rf.com/images/karakotsya/karakotsya1607/karakotsya160700046/59996379-pintura-original-abstracto-digital-del-ojo-humano-la-composici%C3%B3n-de-colores-en-el-arte-moderno-y.jpg" alt="Imagen 4">
                </a>
                <a href="eventos.html">
                    <img src="https://quees.mobi/wp-content/uploads/2020/05/arte-moderno.jpg" alt="Imagen 5">
                </a>
            </div>
        </div>
        
    </main>
    <footer>
    <p>Derechos de autor © 2023 Galería de Arte. Todos los derechos reservados.</p>
    
</footer>

</body>
</html>