<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería</title>    
    <!-- Estilos compilados con less-->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Galería de Arte Metropolitano</h1>
        <!-- Barra de navegación -->
         <nav class="navbar">
            <ul>
                <li><a href="inicio.hbs">Inicio</a></li>
                <li><a href="about.hbs">Nosotros</a></li>
                <li><a href="blog.hbs">Blog</a></li>
                <li><a href="contactenos.hbs">Contactenos</a></li>
                <li><a href="donaciones.hbs">Donaciones</a></li>
                <li><a href="eventos.hbs">Eventos</a></li>
                <li><a href="galeria.hbs">Galeria</a></li>
                <li><a href="programas.hbs">Programas</a></li>
                <li><a href="faq.hbs">FaQ</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="hero">
            <h2>Coleccion de arte del Museo Metropolitano</h2>
            <h3>Descubre nuestras obras mas famosas en exposicion</h3>
        </div>
        <div class="gallery">
            <div class="art-piece">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Las_Meninas_01.jpg" alt="lasmeninas">
                <p>Las Meninas por Diego Velasquez (1656)</p>
            </div>
            <div class="art-piece">
                <img src="https://historia-arte.com/_/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpbSI6WyJcL2FydHdvcmtcL2ltYWdlRmlsZVwvbm9jaGUtZXN0cmVsbGFkYS12YW4tZ29naC5qcGciLCJyZXNpemUsMjAwMCwyMDAwIl19.3mkWyHY4L_z-nPKgFPQik1jxy3GXcxNc0ShLGcVAlRg.jpg" alt="nocheestrellada">
                <p>La noche estrellada por Vincent Van Gogh (1889)</p>
            </div>

            <div"art-piece">
                <img src="https://cnnespanol.cnn.com/wp-content/uploads/2019/01/http___cdn.cnn_.com_cnnnext_dam_assets_131107152744-mona-lisa.jpg?quality=100&strip=info" alt="monalisa">
                <p>La Mona Lisa por Leonardo da Vinci (1503-1506)</p>
            </div>

            <div"art-piece">
                <img src="https://historia-arte.com/_/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpbSI6WyJcL2FydHdvcmtcL2ltYWdlRmlsZVwvbnljLTItMjY4LmpwZyIsInJlc2l6ZSw4MDAiXX0.oHuiNXMeCqBT1fa5I9ddteiMiKkLQ_e1lyF6l8uUsWo.jpg" alt="persistenciamemoria">
                <p>La persistencia de la memoria por Salvador Dalí (1931)</p>
                 <h2>__________________________________________________________</h2>
            </div>

            <div"art-piece">
                <img src="https://cdn.culturagenial.com/es/imagenes/1200px-the-last-supper-leonardo-da-vinci-high-resolution-32x16-cke.jpg" alt="ultimacena">
                <p>La ultima cena por Leonardo da Vinci (1495-1498)</p>
                 <h2>__________________________________________________________</h2>
            </div>

            <div"art-piece">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Vincent_Willem_van_Gogh_128.jpg/640px-Vincent_Willem_van_Gogh_128.jpg" alt="girasoles">
                <p>Los girasoles por Vincent van Gogh (1888)</p>
                 <h2>__________________________________________________________</h2>
            </div>

            <div"art-piece">
                <img src="https://blogs.unah.edu.hn/assets/cac/blog/2183/EL-GUERNICA.jpg" alt="guernica">
                <p>Guernica por Pablo Picasso (1937)</p>
                 <h2>__________________________________________________________</h2>
            </div>

            <div"art-piece">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Meisje_met_de_parel.jpg/800px-Meisje_met_de_parel.jpg" alt="jovenperla">
                <p>Joven de la perla por Johannes Vermeer (1665)</p>
                 <h2>__________________________________________________________</h2>
            </div>

            <div"art-piece">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/The_Scream_by_Edvard_Munch%2C_1893_-_Nasjonalgalleriet.png" alt="elgrito">
                <p>El grito por Edvard Munch (1893)</p>
                 <h2>__________________________________________________________</h2>
            </div>

            <div"art-piece">
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/01/Vincent_van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg" alt="nocherodano">
                <p>La noche estrellada sobre el rodano por Vincent van Gogh (1888)</p>
                 <h2>__________________________________________________________</h2>
            </div>

            <div"art-piece">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/5b/Michelangelo_-_Creation_of_Adam_%28cropped%29.jpg" alt="creacionadan">
                <p>La creacion de Adan por Michelangelo Buonarroti (1512)</p>
                 <h2>__________________________________________________________</h2>
            </div>
        </div>
    </main>
    
    <footer>
        <p>Derechos de autor © 2023 Galería de Arte. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
