<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería</title>    
    <!-- Estilos compilados con less-->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Galería de Arte Metropolitano</h1>
        <!-- Barra de navegación -->
        <nav class="navbar">
            <ul>
                <!-- ... Enlaces de navegación -->
            </ul>
        </nav>
    </header>

    <main>
        <div class="gallery">
            <div class="art-piece">
                <img src="https://hips.hearstapps.com/hmg-prod/images/las-meninas-by-velazquez-as-shown-in-the-museum-de-prado-news-photo-1693154464.jpg" alt="lasmeninas">
                <p>Las Meninas por Diego Velasquez</p>
            </div>
            <div class="art-piece">
                <img src="https://mymodernmet.com/wp/wp-content/uploads/2017/10/what-is-modern-art-definition-2.jpg" alt="nocheestrellada">
                <p>La noche estrellada por Vincent Van Gogh</p>
            </div>
            <!-- Puedes añadir más obras de arte -->
        </div>
    </main>
    
    <footer>
        <p>Derechos de autor © 2023 Galería de Arte. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
