<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programas</title>
        <!-- Estilos compilados con less-->
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <script src="handles/slide.js"></script>
</head>
<body>
    <header>
        <h1>Galería de Arte Metropolitano</h1>
        <!-- Barra de navegación -->
        <nav class="navbar">
            <ul>
                <li><a href="inicio.hbs">Inicio</a></li>
                <li><a href="about.hbs">Nosotros</a></li>
                <li><a href="blog.hbs">Blog</a></li>
                <li><a href="contactenos.hbs">Contactenos</a></li>
                <li><a href="donaciones.hbs">Donaciones</a></li>
                <li><a href="eventos.hbs">Eventos</a></li>
                <li><a href="galeria.hbs">Galeria</a></li>
                <li><a href="programas.hbs">Programas</a></li>
                <li><a href="faq.hbs">FaQ</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="programs-section">
            <h2>Nuestros Programas</h2>
            <p>Descubre los programas educativos y culturales que ofrecemos:</p>
            
            <div class="programs-list">
                <h3>Programa de Arte para Niños</h3>
                <p>Una serie de talleres interactivos diseñados para inspirar la creatividad en los más jóvenes.</p>
                
                <h3>Charlas de Arte Contemporáneo</h3>
                <p>Conferencias y debates sobre las tendencias y temas actuales en el mundo del arte contemporáneo.</p>
                
                <h3>Recorridos Virtuales</h3>
                <p>Explora nuestras exposiciones desde casa con nuestros recorridos virtuales interactivos.</p>
                
                <h3>Talleres de Restauración de Arte</h3>
                <p>Aprende técnicas de restauración de obras de arte con expertos en el campo.</p>
                
            </div>
        </div>
    </main>
    
    <footer>
        <p>Derechos de autor © 2023 Galería de Arte. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
