body {
  font-family: Georgia, serif;
  background-color: #fdf0d5;
  color: #003049;
}
/* Encabezados */
h1,
h2,
h3 {
  color: #780000;
}
.navbar {
  background-color: #780000;
  color: #003049;
  padding: 10px;
  font-size: 18px;
}
.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  /* Usamos flexbox para colocar los elementos en línea */
}
.navbar ul li {
  margin-right: 85px;
}
.navbar ul li a {
  text-decoration: none;
  color: #003049;
}
.navbar ul li a:hover {
  color: #c1121f;
}
.hero h2 {
  font-size: 33px;
  color: #780000;
  margin-bottom: 20px;
}
.hero h3 {
  font-size: 18px;
  color: #003049;
  margin-bottom: 20px;
}
footer {
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 768px) {
  /* Agrega estilos responsivos aquí */
}
/* Estilos para el slideshow */
.slideshow {
  position: relative;
  width: 100%;
  /* Ajusta el ancho según sea necesario */
  height: 800px;
  /* Ajusta la altura según sea necesario */
}
.slideshow img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
}
/* Estilo para la primera imagen (visible al principio) */
.slideshow img:first-child {
  opacity: 1;
  /* Hace visible la primera imagen */
}
.enlaces {
  display: flex;
  flex-wrap: wrap;
  /* Permite que las imágenes se envuelvan en múltiples líneas */
}
.enlaces img {
  width: 50px;
  height: 50px;
  margin: 5px;
  /* Margen entre las imágenes */
  box-sizing: border-box;
  /* Incluye los bordes y el relleno en el ancho y alto */
  border: 1px solid #ccc;
  /* Borde para mejor visualización */
}
