<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
        <!-- Estilos compilados con less-->
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <script src="handles/slide.js"></script>
</head>
<body>
    <header>
        <h1>Galería de Arte Metropolitano</h1>
        <!-- Barra de navegación -->
        <nav class="navbar">
            <ul>
                <li><a href="inicio.hbs">Inicio</a></li>
                <li><a href="about.hbs">Nosotros</a></li>
                <li><a href="blog.hbs">Blog</a></li>
                <li><a href="contactenos.hbs">Contactenos</a></li>
                <li><a href="donaciones.hbs">Donaciones</a></li>
                <li><a href="eventos.hbs">Eventos</a></li>
                <li><a href="galeria.hbs">Galeria</a></li>
                <li><a href="programas.hbs">Programas</a></li>
                <li><a href="faq.hbs">FaQ</a></li>
            </ul>
        </nav>
    </header>

    <main>
                <!-- Seccion de blog -->

        <div class="blog-posts">
            <article class="blog-post">
                <h2>El museo Metropolitano consigue nueva pieza de exhibicion</h2>
                <p class="date">Fecha: 5 de diciembre de 2023</p>
                <p>El museo de arte metropolitano se complace de notificar a todos sus visitantes de la nueva adquision disponible en exhibicion.</p>
                <a href="articulo1.hbs">Leer más</a>
            </article>

            <article class="blog-post">
                 <h2>__________________________________________________________</h2>
                <h2>Se acercan remodelaciones </h2>
                <p class="date">Fecha: 2 de diciembre de 2023</p>
                <p>El ala B del primer piso estara inhabilitado durante un periodo de cuatro dias a partir del 6 de diciembre.</p>
                <a href="articulo2.hbs">Leer más</a>
            </article>

        </div>
    </main>
    
    <footer>
        <p>Derechos de autor © 2023 Galería de Arte. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
